body {
    font-family: sans-serif;
}

#svgEl {
    height: 400px; // the contents will scale to fit because of viewBox
}

#para {
    left: 474px;
    position: absolute;
    top: 282px;

    animation: orbit2 2s linear;
    transform: rotate(0deg) translateX(300px) rotate(0deg);
}

@keyframes orbit2 {
    from { transform: rotate(180deg) translateX(300px) rotate(-180deg); }
    to   { transform: rotate(0deg) translateX(300px) rotate(0deg); }
}

#container {
    position: relative;
}

#sidebar {
    position: absolute;
    width: 200px;


}
#ring {
    position: absolute;
    top: 100px;
    left: 300px;
}

/*!* Style the button that is used to open and close the collapsible content *!*/
/*.collapsible {*/
    /*background-color: #eee;*/
    /*color: #444;*/
    /*cursor: pointer;*/
    /*padding: 18px;*/
    /*width: 150px;*/
    /*border: none;*/
    /*text-align: left;*/
    /*outline: none;*/
    /*font-size: 15px;*/
/*}*/

/*!* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) *!*/
/*.active, .collapsible:hover {*/
    /*background-color: #ccc;*/
/*}*/

/*!* Style the collapsible content. Note: hidden by default *!*/
/*.sidebar {*/
    /*!*padding: 0 18px;*!*/
    /*display: none;*/
    /*overflow: hidden;*/
    /*background-color: #f1f1f1;*/
    /*width: 150px;*/
    /*height: 100%;*/
/*}*/

#allplayers {
    width: 200px;
}

.segmenthover {
    background-color: #dddddd !important;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/*!* The sidebar links *!*/
/*.sidebar li {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*padding: 2px 2px 2px 2px;*/
    /*text-decoration: none;*/
    /*font-size: 16px;*/
    /*color: #afafaf;*/
    /*display: block;*/
    /*transition: 0.3s;*/
/*}*/


/*!* When you mouse over the navigation links, change their color *!*/
/*.sidebar li:hover {*/
    /*color: #f1f1f1;*/
/*}*/

.sidebar table img {
    padding: 2px;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn, .restartbtn, .closebtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover, .restartbtn:hover {
    background-color: #444;
}

.restartbtn {

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    margin-left: 250px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

.teamnames {
    width: 200px;
    position: absolute;
}

#team1 {
    left: 750px;
    top: 70px;
}

#team2 {
    top: 70px;
    left: 60px;
}

li {
    padding: 2px 2px 2px 2px;
    list-style-type: none;
}

#pairteams {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 400px;
    height: 400px;
    display: none;
    /*background-color: #dddddd;*/

}

#penslinks {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 400px;
    height: 400px;
    display: none;
    /*background-color: #dddddd;*/
    z-index: -20;
}

.sidebar table {
    text-decoration: none;
    font-size: 16px;
    color: #afafaf;
    margin-left: 30px;
    /*border: 1px solid white;*/
    width: 200px;
}

#score {
    position: absolute;
    left: 470px;
    top: 305px;
    display: none;
    font-size: 24px;
}

#cmatches {
    display: none;
    z-index: -10;
    left:0px;
    top: 0px;
    position: absolute;
    width: 400px;
    height: 400px;
}

.team {
    color: darkred;
}